openai-whisper
tqdm
wetextprocessing
ffmpeg-python
funasr==0.7.0
whisperx
pydub
modelscope==1.9.4 -f https://modelscope.oss-cn-beijing.aliyuncs.com/releases/repo.html
-i https://pypi.tuna.tsinghua.edu.cn/simple