torch==2.3.1 torchvision==0.18.1 torchaudio==2.3.1 --index-url https://download.pytorch.org/whl/cu121
openai-whisper
tqdm
wetextprocessing
zhconv
ffmpeg-python
numpy==1.22
#funasr==0.7.0
git+https://github.com/duj12/FunASR.git
#whisperx==3.1.1
git+https://github.com/duj12/whisperX.git
pydub
modelscope==1.9.4 -f https://modelscope.oss-cn-beijing.aliyuncs.com/releases/repo.html
-i https://pypi.tuna.tsinghua.edu.cn/simple